@model LikeFinal_Version.Models.OurUserID

@{
    ViewData["Title"] = "ShareLink";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Style/Style.css">
    <link rel="icon" href="~/Logos/Like+.png">
    <title>Like+</title>
</head>
<body class="GeneralBody">
    <form asp-action="ShareLinkPost" asp-controller="Home">
        <img src="~/Logos/Like.png" >
        @if (ViewBag.Message != null)
        {
            <p style="color:red ; font-size:14px ; align-self:center">@(ViewBag.Message)</p>
        }
        <p></p>
        <input type="hidden" value="@Model.OurUsserId" name="OldUser" />
        <input required type="email" placeholder="Your Email..." name="Email">
        <input required type="PassWord" placeholder="Your PassWord..." name="PassWord">
        <button type="submit">LogIn</button>
    </form>
</body>

</html>